# --- Python Specific ---
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


.env
*.env
secrets.json

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store


logs/
*.log
reports/
test-results/